.background {
    background: url(../images/bunch-houses-that-are-each-other_941033-7887.avif);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}